body{
    background-color: #EEEEEE;
    font-family: Helvetica;
}
.container{
    width: 90%;
    margin: auto;
}
header{
    background-color: #DDDDDD;
}
nav{
    display: flex;
}
.naglowek,.menu{
    background-color: lightblue;
    height: 100px;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.baner{
    background-color: #DDDDDD;
    width: 200px;
}
main{
    color: navy;
    margin: 50px;
    height: 400px;
}
footer{
    background-color: lightblue;
    padding: 10px;
    width: 100%;
    height: 100%;
    text-align: right;
}
button{
    background-color: lightblue;
    color: navy;
}
a{
    color: navy;
    font-size: 150%;
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
    padding: 5px;
}
a:hover{
    border: solid 1px navy;
}